/* default breakpoint / xs*/
.grid {
  @include generate-grid(xs, $max_col_xs);
  width: auto;
}

@media (min-width: $breakpoint-xs) {
  .grid {
    @include generate-grid-hide(xs);
  }

  [class*=grid-xs] {
    .col {
      padding-left: $grid-gutter-width-xs/2;
      padding-right: $grid-gutter-width-xs/2;
    }
  }
}

/* sm breakpoint */
@media (min-width: $breakpoint-sm) {
  .grid {
    @include generate-grid(sm, $max_col_sm);
    @include generate-grid-hide(sm);
  }
  [class*=grid-sm] {
    .col {
      padding-left: $grid-gutter-width-sm/2;
      padding-right: $grid-gutter-width-sm/2;
    }
  }
}

/* md breakpoint */
@media (min-width: $breakpoint-md) {
  .grid {
    @include generate-grid(md, $max_col_md);
    @include generate-grid-hide(md);
  }
  [class*=grid-md] {
    .col {
      padding-left: $grid-gutter-width-md/2;
      padding-right: $grid-gutter-width-md/2;
    }
  }
}

/* lg breakpoint */
@media (min-width: $breakpoint-lg) {
  .grid {
    @include generate-grid(lg, $max_col_lg);
    @include generate-grid-hide(lg);
  }
  [class*=grid-lg] {
    .col {
      padding-left: $grid-gutter-width-lg/2;
      padding-right: $grid-gutter-width-lg/2;
    }
  }
}

/* xl breakpoint */
@media (min-width: $breakpoint-xl) {
  .grid {
    @include generate-grid(xl, $max_col_xl);
    @include generate-grid-hide(xl);
  }
  [class*=grid-xl] {
    .col {
      padding-left: $grid-gutter-width-xl/2;
      padding-right: $grid-gutter-width-xl/2;
    }
  }
}

.col {
  padding-left: $grid-gutter-width-xs/2;
  padding-right: $grid-gutter-width-xs/2;
}

.responsivegrid.col.col-md-16 {
  padding-left: 0;
  padding-right: 0;
}

.responsivegrid.col.col-md-16 > .col.col-md-16 {
  padding-left: 0;
  padding-right: 0;
}
