/* maximum amount of grid cells to be provided */
$max_col_xs: 6 !default;
$max_col_sm: 16 !default;
$max_col_md: 16 !default;

$grid-gutter-width-xs: 16px;
$grid-gutter-width-sm: 20px;
$grid-gutter-width-md: 12px;